.navbar-expand-lg {
  background-color: #493db4;
  font-family: 'Exo', sans-serif; }

.navbar-brand {
  font-size: 22px; }

.banner {
  height: 50vh;
  background-color: grey; }

.h2Banner {
  padding: 70px 0;
  text-align: center; }

.h2Objetivo, .pObjetivo {
  text-align: center;
  padding-top: 25px; }

.h2Objetivo {
  font-family: 'Exo', sans-serif; }

.pObjetivo {
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 25px;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 22px; }

/*

.h2Roster
{
    text-align: center;
    background: #fff;
    
}

.bodyRoster
{
    margin: 0;
    padding-top:20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.5s;

}

.containerRoster
{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    

    .cartaRoster
    {
        position: relative;       

        .cara1
            {
                width: 300px;
                height: 375px;
                transition: 0.5s;
                position: relative;
                display: flex;
                background: rgb(182, 178, 178);
                justify-content: center;
                align-items: center;
                z-index: 1;
                

                .contenidoRoster
                {
                    opacity: 0.2;
                    transition: 0.5s;

                    h3 
                    {
                        margin: 10px 0 0;
                        padding: 0;
                        color: #fff;
                        text-align: center;
                    }
                }
            }

            .cara2
            {   
                width: 300px;
                height: 500px;
                transition: 0.5s;
                position: relative;
                background: #fff;
                justify-content: center;
                align-items: center;
                padding:20px;
                display: none;
                box-sizing: border-box;
                transform: translateY(-100px);

                .contenidoRoster p 
                {
                    margin: 0;
                    padding:0;
                }

            }
        

    }

    .cartaRoster:hover .cara1 .contenidoRoster
    {
        opacity: 1;
    }

    .cartaRoster:hover .cara1
    {
        transform: translateY(0);
        background: rgb(74, 50, 209);
        height: 50px;

    }

    .cartaRoster:hover .cara2
    {
        transform: translateY(0);
        display: block;
        height: 450px;
    }

    
}

*/
.containerRoster {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
  row-gap: 2rem;
  background: #333;
  flex: wrap;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif; }

.roster {
  height: 450px;
  width: 350px;
  display: grid;
  flex: wrap;
  margin: 0 auto;
  position: relative; }

.cara1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  transform: translateY(175px);
  height: 350px;
  background: #333; }
  .cara1 .contenido {
    opacity: 0.5;
    transition: 0.5s; }
    .cara1 .contenido h3 {
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase; }

.cara2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.5s;
  transform: translateY(-175px);
  height: 350px;
  background: #333; }
  .cara2 .contenido {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto; }

.roster:hover .cara1 {
  background: #33339b;
  height: 150px;
  transform: translateY(0); }
  .roster:hover .cara1 .contenido {
    opacity: 1; }

.roster:hover .cara2 {
  transform: translateY(0);
  background: #e4e0d8; }

.skills {
  width: 75%;
  margin: auto;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center; }

.skill-name {
  text-align: left; }

.skill-name p {
  display: inline-block;
  color: #353535;
  font-size: 14px;
  font-weight: 600;
  margin: 0; }

.skill-name p:last-child {
  float: right; }

.skills {
  line-height: 2.7rem; }

.progress-bar {
  background-color: #33339b; }

.h2Roster {
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif;
  text-align: center; }

.h2Galeria {
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif;
  text-align: center;
  padding-top: 10px; }

.containerStaff {
  height: auto;
  background-color: lavender;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  column-gap: 1rem;
  row-gap: 1.5rem;
  padding-top: 55px;
  padding-bottom: 55px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif; }

.cartaStaff {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  border: solid black 1px;
  height: 65vh;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 1px 10px 1px;
  overflow: hidden;
  display: inline-block; }

.superior {
  height: 30%;
  background: #6335cf;
  width: 100%; }

.inferior {
  height: 70%;
  background: lavender;
  width: 100%;
  padding-top: 40px;
  padding: 20px;
  text-align: center; }
  .inferior h3 {
    padding-top: 50px;
    box-sizing: border-box;
    font-weight: lighter;
    line-height: .6; }
  .inferior h4 {
    padding-top: 15px;
    box-sizing: border-box;
    font-weight: lighter;
    line-height: .6;
    color: #6335cf;
    opacity: .6;
    font-weight: bold; }
  .inferior p {
    font-size: 16px;
    color: grey;
    padding-top: 15px; }
  .inferior a {
    text-decoration: none; }

.imagenStaff {
  width: 115px;
  width: 115px;
  border-radius: 50%;
  background-color: lavender;
  padding: 3px;
  justify-content: center;
  transform: translate(100px, 80px); }
  .imagenStaff img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.botonStaff {
  padding: 12px 20px;
  background: #6335cf;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  text-decoration: none;
  transition: all .3 ease-in; }

.botonStaff:hover {
  background: transparent;
  color: #6335cf;
  border: 2px solid #6335cf;
  text-decoration: none; }

.divBoton {
  padding-top: 20px; }

.h2Staff {
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

@media screen and (min-width: 1150px) {
  .sectionContacto {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6335cf;
    display: flex; }
  .sectionContacto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: lavender;
    display: flex; }
  .containerContacto {
    position: relative;
    display: flex;
    z-index: 1000;
    min-width: 1100px;
    min-height: 550px; }
  .contactoInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100%-80px);
    background: #6335cf;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); }
    .contactoInfo h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
      font-family: 'Exo', sans-serif; }
  .info {
    position: relative;
    margin: 20px 0; }
    .info li {
      position: relative;
      list-style: none;
      display: flex;
      margin: 20px 0;
      cursor: pointer;
      align-items: flex-start; }
      .info li span:nth-child(1) {
        max-width: 100%;
        filter: invert(1);
        opacity: 0.5; }
      .info li span:nth-child(2) {
        color: #fff;
        margin-left: 10px;
        font-weight: 300;
        opacity: 0.5; }
  li:hover span:nth-child(1) a,
  li:hover span:nth-child(2) {
    opacity: 1; }
  .sci {
    position: relative;
    display: flex; }
    .sci li {
      list-style: none;
      margin-right: 15px; }
      .sci li a {
        text-decoration: none; }
        .sci li a a {
          filter: invert(1);
          opacity: 0.5; }
    .sci li:hover a a {
      opacity: 1; }
  .formContacto {
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% -150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5); }
    .formContacto h2 {
      font-size: 24px;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
      font-family: 'Exo', sans-serif; }
  .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px; }
  .inputBox {
    position: relative;
    margin: 0 0 35px 0; }
    .inputBox input,
    .inputBox textarea {
      width: 100% !important;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      color: #333;
      border: none;
      border-bottom: 1px solid #777;
      outline: none;
      resize: none; }
    .inputBox textarea {
      min-height: 120px; }
    .inputBox span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      color: #333;
      transition: 0.5s;
      pointer-events: none; }
    .inputBox input:focus ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox input:valid ~ span,
    .inputBox textarea:valid ~ span {
      transform: translateY(-20px);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #6335cf; }
  .inputBox.w50 {
    width: 47%; }
  .inputBox.w100 {
    width: 100%; }
  .submit {
    cursor: pointer;
    background: #6335cf;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
    margin-bottom: 15px; }
  .submit:hover {
    background: #6335cf; }
  #botonSub {
    color: white; }
  .containerContactoResponsive {
    display: none; } }

@media screen and (min-width: 0px) and (max-width: 1150px) {
  .contactoInfoResponsive {
    background: #6335cf;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); }
    .contactoInfoResponsive h2 {
      color: #fff;
      font-size: 26px;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
      font-family: 'Exo', sans-serif;
      text-align: center;
      padding-top: 5%; }
  .infoResponsive {
    margin: 0 auto; }
    .infoResponsive li {
      list-style: none;
      display: flex;
      margin: 20px;
      cursor: pointer;
      align-items: flex-start; }
      .infoResponsive li span:nth-child(1) {
        max-width: 100%;
        filter: invert(1);
        opacity: 0.5;
        text-align: center; }
      .infoResponsive li span:nth-child(2) {
        color: #fff;
        margin-left: 10px;
        font-weight: 300;
        opacity: 0.5; }
    .infoResponsive li:hover span:nth-child(1) a,
    .infoResponsive li:hover span:nth-child(2) {
      opacity: 1; }
    .infoResponsive span {
      text-align: center; }
  .contactoResponsive {
    text-align: center; }
  .formContactoResponsive {
    position: relative;
    background: #fff;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5); }
    .formContactoResponsive h2 {
      font-size: 24px;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
      font-family: 'Exo', sans-serif;
      padding-top: 12px; }
  .formBoxResponsive {
    align-content: center;
    justify-content: center;
    margin: 0 auto; }
  .containerContactoResponsive {
    justify-content: center;
    align-content: center;
    text-align: center;
    background: lavender;
    padding-bottom: 20px; }
  #inputResponsive {
    margin: 0 auto;
    padding-top: 25px; }
  #inputResponsive2 {
    margin: 0 auto;
    padding-top: 15px;
    width: 80%;
    padding-bottom: 15px; }
  .inputBox {
    position: relative;
    margin: 0 0 35px 0; }
    .inputBox input,
    .inputBox textarea {
      width: 100% !important;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      color: #333;
      border: none;
      border-bottom: 1px solid #777;
      outline: none;
      resize: none; }
    .inputBox textarea {
      min-height: 120px; }
    .inputBox span {
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      color: #333;
      transition: 0.5s;
      pointer-events: none; }
    .inputBox input:focus ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox input:valid ~ span,
    .inputBox textarea:valid ~ span {
      transform: translateY(-20px);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #6335cf; }
  .inputBox.w50 {
    width: 47%; }
  .inputBox.w100 {
    width: 100%; }
  .submit {
    cursor: pointer;
    background: #6335cf;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
    margin-bottom: 15px; }
  .submit:hover {
    background: #6335cf; }
  #botonSub {
    color: white; }
  .containerContacto {
    display: none; } }

@media (max-width: 576px) {
  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5;
    color: lavender;
    text-decoration: none; } }

footer {
  font-family: 'Dosis', sans-serif;
  font-family: 'Exo', sans-serif; }
  footer h5 {
    font-weight: 600;
    text-align: center;
    font-size: 20px; }
  footer p {
    text-align: center;
    color: lavender; }
  footer img {
    text-align: center; }

.list-unstyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lavender;
  text-decoration: none; }

#footerSocial {
  text-decoration: none;
  color: lavender;
  padding: 20px; }

a {
  text-decoration: none; }

#footerSocial:hover {
  opacity: 0.7; }

.separador {
  height: 30px;
  width: 100%;
  background: #6335cf; }
