.containerNoticias
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(99, 53, 207);
}

.containerTwitter
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.seccionTweets
{
    box-sizing: border-box;
    border: solid black 5px;
    position: relative;

}


.seccionTweets::after, .seccionTweets::before
{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
}

.seccionTweets::after
{
    border-top: 40px solid rgb(99, 53, 207);
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    margin-left: -40px ;
}

.seccionTweets::before {
    border-top: 45px solid black;
    border-right: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-left: 45px solid transparent;
    margin-left: -45px;
}

.h2Noticias
{
    text-align: center;
    color: lavender;
    font-size: 34px;
    font-weight: 500;
    font-family: 'Dosis',
    sans-serif;
    font-family: 'Exo',
    sans-serif;
    padding-top: 12px;
}