.h2Objetivo, .pObjetivo
{
    text-align: center;
    padding-top: 25px;
    
        
}


.h2Objetivo
{
    font-family: 'Exo',
    sans-serif;
}

.pObjetivo
{
    font-weight: 400;
    font-family: 'Dosis',
    sans-serif;
    padding-bottom: 25px;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    font-size: 22px;
}
   