@import "navbar.scss";
@import "banner.scss";
@import "objetivo.scss";
@import "roster.scss";
@import "galeria.scss";
@import "staff.scss";
@import "contacto.scss";
@import "footer.scss";
@import "efecto.scss";
@import "aos.scss";

html, body 
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;

    

}


